{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - InBound</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="../assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="{% static 'assets/images/logo.png' %}">
  
  <!-- style -->
  <link rel="stylesheet" href="{% static 'assets/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets/material-design-icons/material-design-icons.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'assets/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="{% static 'assets/styles/app.css' %}" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="{% static 'assets/styles/font.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/datatable.bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/select2.css' %}" type="text/css" />
  <!-- jQuery -->
 <script src="{% static 'js/jquery.min.js' %}"></script>



  
</head>
<body>
  <div class="app" id="app">
  {% include "navigation.html" %}
   <div id="content" class="app-content box-shadow-z0" role="main">
   <div class="app-header white box-shadow">
        <div class="navbar">
            <!-- Open side - Naviation on mobile -->
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
              <i class="material-icons">&#xe5d2;</i>
            </a>
            <!-- / -->
        
            <!-- Page title - Bind to $state's title -->
            
        
            <!-- navbar right -->
            <ul class="nav navbar-nav pull-right">
              <li class="nav-item dropdown pos-stc-xs">
                <a class="nav-link" href data-toggle="dropdown">
                  <i class="material-icons">&#xe7f5;</i>
                  <span class="label label-sm up warn">3</span>
                </a>
                
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link clear" href data-toggle="dropdown">
                  <span class="avatar w-32">
                    <img src="{% static 'assets/images/a0.jpg' %}" alt="...">
                    <i class="on b-white bottom"></i>
                  </span>
                </a>
               
              </li>
              <li class="nav-item hidden-md-up">
                <a class="nav-link" data-toggle="collapse" data-target="#collapse">
                  <i class="material-icons">&#xe5d4;</i>
                </a>
              </li>
            </ul>
            <!-- / navbar right -->
        
            <!-- navbar collapse -->
            <div class="collapse navbar-toggleable-sm" id="collapse">
              
              <!-- link and dropdown -->
              <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link" href data-toggle="dropdown">
                    <!-- <i class="fa fa-fw fa-plus text-muted"></i> -->
                    <span>Alindal Inbount</span>
                  </a>
            
                </li>
              </ul>
              <!-- / -->
            </div>
            <!-- / navbar collapse -->
        </div>
    </div>
    <div class="app-footer">
      <div class="p-a text-xs">
        <div class="pull-right text-muted">
          &copy; Copyright <strong>Alindal</strong> <span class="hidden-xs-down">- Built with Love v1.1.3</span>
          <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
        </div>
        <div class="nav">
          <a class="nav-link" href="../">About</a>
          <span class="text-muted">-</span>
          <a class="nav-link label accent" href="http://themeforest.net/user/flatfull/portfolio?ref=flatfull">Get it</a>
        </div>
      </div>
    </div>
    <div ui-view class="app-body" id="view">
        
        {% block content %}

        {% endblock %}
    </div>
   </div>
  </div>

<!-- Bootstrap -->
  <script src="{% static 'libs/jquery/tether/dist/js/tether.min.js' %}"></script>
  <script src="{% static 'libs/jquery/bootstrap/dist/js/bootstrap.js' %}"></script>
<!-- core -->
  <script src="{% static 'libs/jquery/underscore/underscore-min.js' %}"></script>
  <script src="{% static 'libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js' %}"></script>
  <script src="{% static 'libs/jquery/PACE/pace.min.js' %}"></script>

  <script src="{% static 'scripts/config.lazyload.js' %}"></script>

  <script src="{% static 'scripts/palette.js' %}"></script>
  <script src="{% static 'scripts/ui-load.js' %}"></script>
  <script src="{% static 'scripts/ui-jp.js' %}"></script>
  <script src="{% static 'scripts/ui-include.js' %}"></script>
  <script src="{% static 'scripts/ui-device.js' %}"></script>
  <script src="{% static 'scripts/ui-form.js' %}"></script>
  <script src="{% static 'scripts/ui-nav.js' %}"></script>
  <script src="{% static 'scripts/ui-screenfull.js' %}"></script>
  <script src="{% static 'scripts/ui-scroll-to.js' %}"></script>
  <script src="{% static 'scripts/ui-toggle-class.js' %}"></script>
  <script src="{% static 'js/Sswitch.js' %}"></script>
  <script src="{% static 'js/bootstrap-notify.js' %}"></script>
  <script src="{% static 'scripts/app.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  

<!--   <script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.browser.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.fixedColumns.min.js' %}" type="text/javascript"></script> -->
  <!-- ajax -->
  <script src="{% static 'libs/jquery/jquery-pjax/jquery.pjax.js' %}"></script>
  <script src="{% static 'scripts/ajax.js' %}"></script>
        {% block scripts %}
        {% endblock %}

</body>
</html>