{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>InBound - Portal Login</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="../assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="{% static 'assets/images/logo.png' %}">
  
  <!-- style -->
  <link rel="stylesheet" href="{% static 'assets/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets/material-design-icons/material-design-icons.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'assets/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="{% static 'assets/styles/app.css' %}" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="{% static 'assets/styles/font.css' %}" type="text/css" />
</head>
<body>
  <div class="app" id="app">
                {% block content %}
                {% endblock %}
  </div>
<!-- jQuery -->
  <script src="{% static 'libs/jquery/jquery/dist/jquery.js' %}"></script>
<!-- Bootstrap -->
  <script src="{% static 'libs/jquery/tether/dist/js/tether.min.js' %}"></script>
  <script src="{% static 'libs/jquery/bootstrap/dist/js/bootstrap.js' %}"></script>
<!-- core -->
  <script src="{% static 'libs/jquery/underscore/underscore-min.js' %}"></script>
  <script src="{% static 'libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js' %}"></script>
  <script src="{% static 'libs/jquery/PACE/pace.min.js' %}"></script>

  <script src="{% static 'scripts/config.lazyload.js' %}"></script>

  <script src="{% static 'scripts/palette.js' %}"></script>
  <script src="{% static 'scripts/ui-load.js' %}"></script>
  <script src="{% static 'scripts/ui-jp.js' %}"></script>
  <script src="{% static 'scripts/ui-include.js' %}"></script>
  <script src="{% static 'scripts/ui-device.js' %}"></script>
  <script src="{% static 'scripts/ui-form.js' %}"></script>
  <script src="{% static 'scripts/ui-nav.js' %}"></script>
  <script src="{% static 'scripts/ui-screenfull.js' %}"></script>
  <script src="{% static 'scripts/ui-scroll-to.js' %}"></script>
  <script src="{% static 'scripts/ui-toggle-class.js' %}"></script>

  <script src="{% static 'scripts/app.js' %}"></script>

  <!-- ajax -->
  <script src="{% static 'libs/jquery/jquery-pjax/jquery.pjax.js' %}"></script>
  <script src="{% static 'scripts/ajax.js' %}"></script>
        {% block javascript %}
        {% endblock %}

</body>
</html>